In [2]:
import pandas as pd
import json
import csv
import re

In [1]:
# Load the CSV file
file_path = 'yelp_academic_dataset.csv'
data = pd.read_csv(file_path, encoding='ISO-8859-1')

# Define a function to extract the price rating
def extract_price_rating(attributes):
    if pd.isna(attributes):
        return None
    match = re.search(r"'RestaurantsPriceRange2': '(\d)'", attributes)
    return match.group(1) if match else None

# Apply the function to the 'attributes' column to create a new 'price_rating' column
data['price_rating'] = data['attributes'].apply(extract_price_rating)
print(data[['attributes', 'price_rating']].head())
# Save the updated DataFrame to a new CSV file
#data.to_csv('yelp_academic_dataset_with_price_rating.csv', index=False)

#Michael code to clean up attributes column
# Clean up the 'attributes' column
data['attributes'] = data['attributes'].apply(lambda x: json.dumps(x, ensure_ascii=False).replace("'", ""))

# Save the updated DataFrame to a new CSV file
data.to_csv('yelp_academic_dataset_with_price_rating.csv', index=False, quoting=csv.QUOTE_ALL)

In [3]:
ds = pd.read_csv('yelp_academic_dataset_with_price_rating.csv', encoding='latin1')
ds.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,attributes,Categories,price_rating
0,19102_American_Morton's,Morton's The Steakhouse,1411 Walnut St,Philadelphia,PA,19102,39.949603,-75.164970,3.5,149,"""{RestaurantsAttire: \""casual\"", RestaurantsP...",American,4.0
1,19102_SE Asian_Jasmine,Jasmine Rice - Rittenhouse,306 S 16th St,Philadelphia,PA,19102,39.947084,-75.168205,3.5,307,"""{RestaurantsPriceRange2: 2, RestaurantsAttire...",SE Asian,2.0
2,19102_American_R2L,R2L,"50 S 16th St, Fl 37",Philadelphia,PA,19102,39.951617,-75.167190,3.5,787,"""{RestaurantsAttire: \""udressy\"", RestaurantsG...",American,3.0
3,19102_American_500,500 Degrees,1504 Sansom St,Philadelphia,PA,19102,39.950363,-75.166225,3.5,443,"""{RestaurantsReservations: False, BusinessPar...",American,2.0
4,19102_Middle Eastern_Sansom,Sansom Kabob House,1526 Sansom St,Philadelphia,PA,19102,39.950303,-75.166856,4.0,128,"""{BYOBCorkage: \""yes_free\"", NoiseLevel: \""uav...",Middle Eastern,2.0

In [23]:
# I wrote this to try and correctly format the data type within the 'attributes' column so that I can correctly import
# the csv file into the postgreSQL table schema

#ds['attributes'] = ds['attributes'].apply(lambda x: json.dumps(x, separators=(',', ':')))

ds['attributes'] = ds['attributes'].apply(lambda x: json.dumps(x, ensure_ascii=False).replace("'", "''"))

In [24]:
# This line correctly formats the 'attributes' column
df['attributes'] = df['attributes'].apply(lambda x: json.dumps(x, ensure_ascii=False).replace("'", "''"))

# Sets up the csv file to be imported correctly
df.to_csv('cleaned_dataset.csv', index=False, quoting=csv.QUOTE_ALL)

In [27]:
df = ds[ds['business_id'] == ]

business_id     18
name            18
address         18
city            18
state           18
postal_code     18
latitude        18
longitude       18
stars           18
review_count    18
attributes      18
Categories      18
dtype: int64